body {
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #000;
    padding: 50px 150px;
    background-color: #2f3640;
    /*background: url(../img/Header.jpg);
    background-attachment: absolute;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    */
    height: 100px;
}

.header h1 {
    font-size: 350%;
    margin-right: 200px;
}

/*
    Navigation Bar
*/
.navigation {
    display: flex;
    flex-direction: row;
}

.navigation a {
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
}

.navigation li {
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

.navigation .highlight {
    color: white;
    font-weight: bold;
}

/*
Calendar
*/

/* Erik is the worst person I've ever met */
.calendar {
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2f3640;
} 

/*
    Info Section
*/
.info {
    display: flex;
    flex-direction: row;
}

.about_us {
    
}

/*
    Database
*/
.create_beer {
    display: grid;
    grid-template-columns: 10% 20%;
    grid-template-rows: 25px;
    padding-left: 25px;
}

.database-choices {
    display: grid;
    background-color: rgb(44, 43, 49);
    grid-template-columns: 20% 20%;
    grid-gap: 30px;
    width: 100%;
    height: 200px;
    padding: 200px 25%;
}

.database-choices a {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(34, 33, 126);
    color: #fff;
    margin: 0;
    padding: 50px 20px;
    text-decoration: none;
    font-size: 25px;
}

.database-choices a:hover {
    background-color: rgb(48, 46, 138);
}