body {
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #ecf0f1;
}

/*
    Header
*/

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #2c3e50;
    padding: 10px 25px;
}

.header h1 {
    font-size: 250%;
    font-family: 'Staatliches';
    margin: 0;
}

/*
    Showcase
*/

.showcase { 
    background-image: url(../img/showcase.jpg);
    background-size: cover;
    background-position: 0px -350px;
    padding: 200px 200px;
}

/*
    Navigation Bar
*/
.navigation {
    display: flex;
    flex-direction: row;
}

.navigation a {
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Staatliches';
    font-size: 150%;
    font-weight: bold;
}

.navigation li {
    list-style: none;
    padding: 0 20px 0 20px;
}

.navigation .highlight {
    color: #ecf0f1;
}

.navigation a:hover {
    color: rgb(155, 155, 155);
}

/*
    On Tap
*/
.on_tap {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    width: 30%;
    padding: 20px 0;
}

.on_tap h2 {
    text-align: center;
    font-size: 50px;
    margin: 10px;
}

.on_tap p {
    padding: 0 30px 0 30px;
    font-size: 30px;
}

/*
    About Us
*/
.container_info {
    display: flex;
    align-content: center;
    justify-content: center;
}

.about_us {
    padding: 0 50px;
    border-radius: 5px;
    width: 70%;
    background-color: #ecf0f1;
}

.about_us h2 {
    text-align: center;
    font-size: 300%;
}

.about_us p {
    font-size: 200%;
    text-align: center;
}

.members {
    width: 30%;
    background: #fff;
    text-align: center;
    border-left: 1px solid #000;
}

.members h2 {
    font-size: 300%;
}

.members b {
    font-size: 175%;
}

.members p {
    font-size: 150%;
}

/*
Calendar
*/

.calendar {
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
} 

.calendar iframe {
    width: 1200px;
    height: 600px;
    background-color: #fff;
    border: solid 1px rgb(0, 0, 0);
    border-radius: 15px;
    padding: 20px
}
/*
    Info Section
*/
.info {
    display: flex;
    flex-direction: row;
}

.about_us {
    
}

/*
    Database
*/
.container_database {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

.database-choices {
    display: flex;
    flex-direction: row;
    margin-top: 70px;
}

.database-choices a {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #696969;
    color: black;
    margin: 0;
    padding: 50px 20px;
    text-decoration: none;
    font-size: 25px;
    margin: 20px;
    width: 250px;
    border-radius: 5px;
}

.database-choices a:hover {
    background-color: rgb(80, 80, 80);
}

.button_container {
    display: flex;
    flex-direction: row;
}

/* Create-beer */
.create-beer-container, .delete-tap {
    display: flex;
    padding: 30px 0;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.create-beer-container h1 {
    font-size: 400%;
}

.create-beer, .search-form {
    padding: 30px 0;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 200px 300px;
    grid-template-rows: auto;
    grid-gap: 20px 0px;
}

.create-beer label, .search-form label {
    font-size: 150%;
}

.create-beer input, .create-beer textarea, .search-form input, .search-from textarea {
    font-size: 150%;
    border-radius: 10px;
}

/* Search-beer */

.selection {
    display: grid;
    grid-template-columns: repeat(5, 100px);
    grid-row: 10px;
    grid-gap: 10px 20px;
    align-items: center;
}

.change-tap {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-row: 30px;
    grid-gap: 30px 20px;
}

.change-selection {
    display: grid;
    grid-template-columns: repeat(4, 150px);
    grid-row: 30px;
    grid-gap: 30px 20px;
    align-items: center;
}

/*
    PHONE LAYOUT
*/
@media (max-width: 568px) {

 
}