body {
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #d0d6d6;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #000;
    padding: 50px 150px;
    background-color: #2f3640;
    height: 100px;
}

.header h1 {
    font-size: 350%;
    margin-right: 200px;
}

/*
    Navigation Bar
*/
.navigation {
    display: flex;
    flex-direction: row;
}

.navigation a {
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
}

.navigation li {
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

.navigation .highlight {
    color: white;
    font-weight: bold;
}

/*
    On Tap
*/

.container {
    display: flex;
    align-content: center;
    justify-content: center;
    padding-top: 100px;
}

.on_tap {
    align-items: center;
    display: flex;
    flex-direction: column;
    background: #696969;
    border-radius: 5px;
    padding: 20px;
}

.on_tap h2 {
    text-align: center;
    font-size: 50px;
    margin: 10px;
}

.tap_beer_list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.tap_beer_list p {
    padding: 0 30px 0 30px;
    font-size: 30px;
}

.left_beer {
    border-right: solid 2px black;
}

.right_beer {
    border-left: solid 2px black;
}

/*
    About Us
*/
.container_info {
    display: flex;
    align-content: center;
    justify-content: center;
    margin-bottom: 50px;
}

.info {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.about_us {
    padding: 30px;
    padding-top: 10px;
    border-radius: 5px;
    background: #2f3640;
    margin-right: 50px;
    width: 500px;
}

.about_us h2 {
    text-align: center;
}

.about_us p {
    font-size: 20px;
}

.members {
    padding: 30px;
    padding-top: 10px;
    border-radius: 5px;
    background: #696969;
    text-align: center;
}

/*
Calendar
*/

/* Erik is the worst person I've ever met */
.calendar {
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
} 

/*
    Info Section
*/
.info {
    display: flex;
    flex-direction: row;
}

.about_us {
    
}

/*
    Database
*/
.container_database {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

.database-choices {
    display: flex;
    flex-direction: row;
    margin-top: 70px;
}

.database-choices a {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #696969;
    color: black;
    margin: 0;
    padding: 50px 20px;
    text-decoration: none;
    font-size: 25px;
    margin: 20px;
    width: 250px;
    border-radius: 5px;
}

.database-choices a:hover {
    background-color: rgb(80, 80, 80);
}

.button_container {
    display: flex;
    flex-direction: column;
}